@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 770px;
  }
  .hero__content {
    text-align: center;
  }
  .hero__content-items {
    padding: 40px 0;
  }
    .carousel .slider .owl-nav .owl-prev {
      left: 7%;
    }
}
    .carousel .slider .owl-nav .owl-next {
      right: 7%;
    }
  .owl-carousel .owl-item img {
    width: 570px;
    height: 444px;
  }
  .catalog__item-footer-btn {
    padding: 0 20px;
  }
.row{
  //text-align: center;
  justify-content: space-around;
}
.advantages__description{
  padding: 0 6px;
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 520px;
  }
  .hero{
    height: 550px;
  }
  .hero__content{
    padding-bottom: 224px;
  }
  .hero__button{
    font-size: 13px;
    padding: 15px 14px;
  }

 .hero__content-title {
   font-size: 28px;
   padding-top: 1px;
   margin-right: -120px;
 }
  .header__block {
    position: relative;
    margin-left: -44px;
  }
  .header__img{
    width: 80%;
  }
  .hero__content-description{
    font-size: 12px;
    margin-right: -90px;
  }
  .header__contact{
    top: 65px;
    left: -55px;
  }
  .header__contact-button{
    padding: 8px 5px;
  }
  .header__agent {
    position: absolute;
    top: 80px;
  }
  .col-4 {
    width: 50%;
  }
  .advantages-col-4 {
    width: 100%;
  }

  .advantages__item {
    margin-bottom: 25px;
  }
  .col-4-block{
    margin: auto;
  }
  .carousel .slider .carousel__img {
    height: 330px;
    width: 415px;
  }
  .catalog__btn {
    margin-bottom: 15px;
  }
  .catalog__item-footer-btn{
    padding: 0 25px;
  }
  .reviews__block-img{
    width: 100%;
    margin-bottom: 15px;
  }
  .reviews__content{
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 320px;
  }
  .header__contact {
    position: absolute;
    top: 145px;
  }
  .header__content-title {
    font-size: 36px;
  }
  .header__content-description {
    font-size: 16px;
  }
  .header__content-button {
    padding: 15px;
  }
  .col-4 {
    width: 100%;
  }
  .consultation__title {
    padding: 20px 0;
    font-size: 30px;
  }
  .catalog .slider .carousel__img{
    height: 280px;
    width: 420px;
  }
  .catalog__btn {
    width: 230px;
    padding: 16px 0;
  }
  .contact__block{
    width: 375px;
    height: 245px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 318px;
  }
  .hero__content-title{
    font-size: 18px;
    padding-top: 25px;
  }
  .hero__button{
    padding: 10px 5px;
  }
  .header__content-description{
    font-size: 14px;
  }
  .header__contact{
    top: 90px;
    left: 40px;
  }
  .header__block{
    margin-left: -12px;
  }

  .hero__content-icons{
    display: block;
  }
  .consultation__form{
    width: 275px;
  }
  .carousel .slider .carousel__img{
    height: 215px;
    width: 265px;
  }
  .catalog__buttons{
    margin: 35px 0;
  }
}
